#title {
    font-size: 50px;
    font-weight: bold;
    color: #f5daa7;
}

body {
    background-color: #f5daa7;
}

.bubble {
    width: 50vmin;
    height: 50vmin;
    background: #a3485a;
    border: 4.5vmin solid #a86472;
    position: absolute;
    top: calc(50% - (50vmin * 0.49));
    left: calc(50% - (50vmin * 0.49));
    overflow: visible;
    border-radius: 48% 40% 62% 47% / 61% 49% 64% 43%;
    animation: rotate 35s infinite linear;
    z-index: -10;
}
@keyframes rotate {
    0% {
        transform: rotate(1turn);
    }
}
.bubble:before {
    content: '';
    position: absolute;
    top: 5vmin;
    left: 5vmin;
    width: calc(100% - (50vmin * 0.3));
    height: calc(100% - (50vmin * 0.3));
    background: #662222;
    border: 3.25vmin solid #842a3b;
    border-radius: 41% 40% 50% 55% / 49% 52% 51% 43%;
    z-index: -5;
    animation: rotateBefore 35s infinite linear;
}
@keyframes rotateBefore {
    0% {
        transform: rotate(-2turn);
    }
}
.bubble:after {
    content: '';
    position: absolute;
    top: 10vmin;
    left: 10vmin;
    width: calc(100% - (25vmin));
    height: calc(100% - (25vmin));
    background: #461717;
    border: 2.5vmin solid #571a25;
    border-radius: 42% 63% 51% 60% / 47% 62% 42% 52%;
    animation: rotateAfter 35s infinite linear;
    z-index: -5;
}
@keyframes rotateAfter {
    0% {
        transform: rotate(2turn);
    }
}

@property --a {
    syntax: '<percentage>';
    initial-value: 0%;
    inherits: true;
}
@keyframes fadeIn {
    from {
        --a: 0%;
    }
    to {
        --a: 100%;
    }
}
@property --hue1 {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}
@property --hue2 {
    syntax: '<angle>';
    initial-value: 120deg;
    inherits: false;
}
@property --hue3 {
    syntax: '<angle>';
    initial-value: 240deg;
    inherits: false;
}
@keyframes hueRotate {
    0% {
        --hue1: 0deg;
        --hue2: 120deg;
        --hue3: 240deg;
    }
    50% {
        --hue1: 180deg;
        --hue2: 300deg;
        --hue3: 60deg;
    }
    100% {
        --hue1: 0deg;
        --hue2: 120deg;
        --hue3: 240deg;
    }
}
.dark button {
    --a: 100%;
    --x: 50;
    --y: 50;
    --size: 2em;
    --hue1: 0deg;
    --hue2: 120deg;
    --hue3: 240deg;
    background: transparent;
    color: rgba(138, 15, 15, 0.7);
    font-size: 1.8em;
    position: relative;
    padding: calc(var(--size)) calc(var(--size) * 1.5);
    animation: hueRotate 10s ease-in-out infinite alternate;
    transition: scale var(--spring-duration) var(--spring-easing);
    scale: 0.92;
    isolation: isolate;
    border: none;
}
.dark button:hover {
    --a: 100%;
    box-shadow: none;
    opacity: 1;
    scale: 1;
}
button:before {
    content: '';
    position: absolute;
    inset: 0em;
    /** here's the magic. A blur and a svg filter */
    filter: blur(12px) url(#goo) drop-shadow(0 0.25em 0.5em rgba(0, 0, 0, 0.8));
    /** followed by a radial-gradient which causes the gooey effect to follow mouse-position */
    background-image: conic-gradient(
            from 0deg,
            hsl(var(--hue1), 100%, 70%),
            hsl(var(--hue2), 100%, 70%),
            hsl(var(--hue3), 100%, 70%),
            hsl(var(--hue1), 100%, 70%)
        ),
        radial-gradient(
            40% 70% at calc(var(--x) * 1%) calc(var(--y) * 1%),
            hsla(var(--hue1), 100%, 70%, var(--a)) 0%,
            transparent 90%
        );
    background-clip: content-box, border-box;
    /** and finally a background-clip so the radial-gradient is larger than the linear-gradient */
    padding: 24px;
    z-index: -1;
    border: none;
}
@property --hue {
    syntax: '<angle>';
    initial-value: 170deg;
    inherits: false;
}
@keyframes color {
    from {
        --hue: 170deg;
    }
    to {
        --hue: 530deg;
    }
}

html {
    height: 100%;
}
main {
    display: grid;
    place-items: center;
    color: var(--light);
    text-align: center;
}
:root {
    --spring-easing: linear(
        0,
        0.002,
        0.01 0.9%,
        0.038 1.8%,
        0.156,
        0.312 5.8%,
        0.789 11.1%,
        1.015 14.2%,
        1.096,
        1.157,
        1.199,
        1.224 20.3%,
        1.231,
        1.231,
        1.226,
        1.214 24.6%,
        1.176 26.9%,
        1.057 32.6%,
        1.007 35.5%,
        0.984,
        0.968,
        0.956,
        0.949 42%,
        0.946 44.1%,
        0.95 46.5%,
        0.998 57.2%,
        1.007,
        1.011 63.3%,
        1.012 68.3%,
        0.998 84%,
        1
    );
    --spring-duration: 1.66s;
}
